.pricing {
  width: 100%;
  margin-top: 5rem;
}

.pricing .container {
  max-width: 1240px;
  padding: 1rem;
  margin: auto;
  overflow: hidden;
}

.pricing .top-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid rgb(190, 190, 190);
  padding-bottom: 3rem;
}

.pricing .top-content h2 {
  font-size: 38px;
  padding-bottom: 0.5rem;
}

.pricing .top-content span {
  color: #6948ff;
}

.pricing .top-content p {
  color: rgb(70, 70, 70);
}

.pricing .bottom-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 3rem auto;
}

.pricing .card {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0;
}

.pricing .card div {
  display: flex;
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: 1rem 0;
}

.pricing .card .no-border {
  border: none;
}

.pricing-btn {
  border: none;
  background-color: #6948ff;
  color: #fff;
  padding: 1rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.pricing-btn:hover {
  background-color: #542ffd;
}

.pricing .card span {
    color: #6948ff;
    text-transform: uppercase;
}